In [59]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [60]:
data = pd.read_csv("C:/Users/Dareen/OneDrive/Desktop/recomindation/top10K-TMDB-movies.csv")
data.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.2+ KB

In [62]:
data.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [63]:
data.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [64]:
data=data.dropna()

In [65]:
data['original_language'].unique()

array(['en', 'hi', 'es', 'ja', 'ko', 'it', 'pt', 'ru', 'zh', 'fr', 'tr',
       'sv', 'ar', 'de', 'bn', 'cn', 'da', 'nl', 'th', 'fa', 'hu', 'pl',
       'sh', 'sr', 'et', 'id', 'no', 'cs', 'te', 'ro', 'bs', 'el', 'fi',
       'is', 'ml', 'la', 'af', 'uk', 'eu', 'nb', 'he', 'ab', 'xx'],
      dtype=object)

In [66]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['original_language']=le.fit_transform(data['original_language'])

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9985 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 9985 non-null   int64
 1   title              9985 non-null   object
 2   genre              9985 non-null   object
 3   original_language  9985 non-null   int32
 4   overview           9985 non-null   object
 5   popularity         9985 non-null   float64
 6   release_date       9985 non-null   object
 7   vote_average       9985 non-null   float64
 8   vote_count         9985 non-null   int64
dtypes: float64(2), int32(1), int64(2), object(4)
memory usage: 741.1+ KB

In [68]:
data = data.drop('release_date',axis=1)

In [69]:
data.head()

,id,title,genre,original_language,overview,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",10,Framed in the 1940s for the double murder of h...,94.075,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",18,"Raj is a rich, carefree, happy-go-lucky second...",25.408,8.7,3731
2,238,The Godfather,"Drama,Crime",10,"Spanning the years 1945 to 1955, a chronicle o...",90.585,8.7,16280
3,424,Schindler's List,"Drama,History,War",10,The true story of how businessman Oskar Schind...,44.761,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",10,In the continuing saga of the Corleone crime f...,57.749,8.6,9811

In [70]:
data['tag']=data['overview']+data['genre']

In [71]:
data=data.drop(columns=['overview','genre'])

In [72]:
data.head()

,id,title,original_language,popularity,vote_average,vote_count,tag
0,278,The Shawshank Redemption,10,94.075,8.7,21862,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,18,25.408,8.7,3731,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,10,90.585,8.7,16280,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,10,44.761,8.6,12959,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,10,57.749,8.6,9811,In the continuing saga of the Corleone crime f...

In [73]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000,stop_words="english")

In [74]:
vector = cv.fit_transform(data['tag'].values.astype('U')).toarray()

In [75]:
vector.shape

(9985, 10000)

In [76]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [77]:
similarity

array([[1.        , 0.05634362, 0.13041013, ..., 0.07559289, 0.11065667,
        0.06900656],
       [0.05634362, 1.        , 0.07715167, ..., 0.        , 0.03636965,
        0.        ],
       [0.13041013, 0.07715167, 1.        , ..., 0.02300219, 0.0673435 ,
        0.09449112],
       ...,
       [0.07559289, 0.        , 0.02300219, ..., 1.        , 0.03253   ,
        0.03042903],
       [0.11065667, 0.03636965, 0.0673435 , ..., 0.03253   , 1.        ,
        0.04454354],
       [0.06900656, 0.        , 0.09449112, ..., 0.03042903, 0.04454354,
        1.        ]])

In [83]:
distance=sorted(list(enumerate(similarity[2])),reverse=True,key=lambda vector:vector[1])
for i in distance[0:5]:
    print(data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Blood Ties
Joker
Bomb City

In [84]:
def recommend(movies):
    index=data[data['title']==movies].index[0]
    distance=sorted(list(enumerate(similarity[index])),reverse=True,key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(data.iloc[i[0]].title)

In [86]:
recommend("Iron Man")

Iron Man
Iron Man 3
Guardians of the Galaxy Vol. 2
Avengers: Age of Ultron
Star Wars: Episode III - Revenge of the Sith

In [93]:
import pickle
pickle.dump(data,open("C:/Users/Dareen/OneDrive/Desktop/recomindation/data.pkl",'wb'))

In [94]:
pickle.dump(similarity,open("C:/Users/Dareen/OneDrive/Desktop/recomindation/similarity.pkl",'wb'))

In [95]:
pickle.load(open("data.pkl",'rb'))

,id,title,original_language,popularity,vote_average,vote_count,tag
0,278,The Shawshank Redemption,10,94.075,8.7,21862,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,18,25.408,8.7,3731,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,10,90.585,8.7,16280,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,10,44.761,8.6,12959,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,10,57.749,8.6,9811,In the continuing saga of the Corleone crime f...
...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,10,98.322,4.7,3347,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,10,12.490,4.7,417,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,10,18.333,4.6,332,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,10,15.159,4.7,668,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,10,16.482,4.6,221,Seeking justice for his partner’s murder by an...